{% extends "base_generic.html" %}

{% block heading-title %}
User profile for {{ user.username }}
{% endblock %}
{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url 'profile' %}">
{% csrf_token %}
<table style='border: black 1px solid;'>
{{ user_form.as_table }}
{{ profile_form.as_table }}
</table>

<input type="submit" value="Save" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
