upstream fkweb {
    server {{app_bind}} fail_timeout=0;
}

{% if letsencrypt_cert.stat.exists %}
    server {
        listen 80;
        listen [::]:80;
        server_name {{ domain }};
        return 301 https://$host$request_uri;
    }
{% endif %}

server {
    {% if letsencrypt_cert.stat.exists %}
        listen 443 ssl http2;
        listen [::]:443 ssl http2;
        ssl_certificate /etc/letsencrypt/live/{{ domain }}/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/{{ domain }}/privkey.pem;
    {% else %}
        listen 80;
        listen [::]:80;
    {% endif %}

    server_name {{ domain }};

    client_max_body_size 4G;
    keepalive_timeout 5;

    location /.well-known {
        alias /srv/certbot/.well-known;
    }
    location /static {
        alias {{app_dir}}/app/collected_staticfiles;
    }
    location / {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_set_header REMOTE_USER $remote_user;
        proxy_redirect off;
        proxy_read_timeout 280s;
        proxy_pass   http://fkweb;
    }
}
