#!/bin/bash
set -e

refname="$1"
oldrev="$2"
newrev="$3"

if [ -z "$GIT_DIR" ]; then echo GIT_DIR missing; exit 1; fi
if [ -z "$refname" ]; then echo params missing; exit 1; fi

echo "> Deploying app"
dir={{app_dir}}/app
git --work-tree="$dir" checkout -qf "$newrev"
cd $dir

# activate virtualenv
. "{{app_dir}}/env/bin/activate"

# set env vars, a bit hacky, maybe use .env file?
DJANGO_SETTINGS_MODULE=fkbeta.settings.production
SECRET_KEY={{app_secret_key}}
DATABASE_USER={{app_user}}
DATABASE_PASS={{app_db_pass}}
DATABASE_NAME={{app_db_name}}

# should only do these when required
pip install -qr "$dir/requirements.txt"
python fkbeta/manage.py collectstatic --noinput
python fkbeta/manage.py migrate --noinput

sudo systemctl restart fkweb

exit 0
